pipeline/Activity-Ingest-PI-BatchLoad-Pipeline.json
{
	"name": "Activity-Ingest-PI-BatchLoad-Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup PI Templates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"query": {
							"value": "@pipeline().parameters.batchQuery",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "Pi_Odbc_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach ElementTemplateNme",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup PI Templates",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup PI Templates').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy PI data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OdbcSource",
									"query": {
										"value": "@replace(pipeline().parameters.ingestQuery,'{{ElementTemplateName}}',item().ElementTemplateName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Pi_Odbc_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_DataLake_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@pipeline().parameters.dataContainer",
											"type": "Expression"
										},
										"FilePath": {
											"value": "@concat(pipeline().parameters.filePath,'/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(replace(pipeline().parameters.fileName,'.csv',''),'_',item(),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ingestQuery": {
				"type": "string"
			},
			"filePath": {
				"type": "string"
			},
			"fileName": {
				"type": "string"
			},
			"deltaColumn": {
				"type": "string"
			},
			"dataContainer": {
				"type": "string"
			},
			"batchQuery": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Activity"
		},
		"annotations": []
	}
}