pipeline/Activity-Ingest-SQL-BatchLoad-Pipeline.json
{
	"name": "Activity-Ingest-SQL-BatchLoad-Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Batch Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@pipeline().parameters.BatchQuery",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DMS_SQL_Dataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Batch Process Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Batch Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Batch Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "Copy SQL Batch Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(replace(pipeline().parameters.SourceQuery,'{pipelineTime}',pipeline().TriggerTime),' where year(',pipeline().parameters.DeltaColumn,') = ',item().Year)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DMS_SQL_Dataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_DataLake_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@pipeline().parameters.DataContainer",
											"type": "Expression"
										},
										"FilePath": {
											"value": "@concat(pipeline().parameters.TargetFilePath,'/')",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(replace(pipeline().parameters.TargetFileName,'.csv',''),'_',item().Year,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceQuery": {
				"type": "string"
			},
			"TargetFilePath": {
				"type": "string"
			},
			"TargetFileName": {
				"type": "string"
			},
			"BatchQuery": {
				"type": "string"
			},
			"DeltaColumn": {
				"type": "string"
			},
			"DataContainer": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Activity"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}